<section class="" >
    <div class="wrapper wrapper-content animated fadeInRight" data-ng-init="init()">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="form-group">
                            <label>First Name</label>

                            <input type="text" class="form-control" ng-model="player.firstName"
                                   placeholder="First Name" required>
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>

                            <input type="text" class="form-control" ng-model="player.lastName"
                                   placeholder="Last Name" required>
                        </div>

                        <div class="form-group">
                            <label>Date of Birth</label>

                            <div class="col-xs-12">
                                <div class="col-xs-3">
                                    <input type="number" class="form-control" ng-model="date.month"
                                           placeholder="Month" required>
                                </div>

                                <div class="col-xs-1">
                                    <span style="font-size: x-large;">/</span>
                                </div>

                                <div class="col-xs-3">
                                    <input type="number" class="form-control" ng-model="date.day"
                                           placeholder="Day" required>
                                </div>

                                <div class="col-xs-1">
                                    <span style="font-size: x-large;">/</span>
                                </div>

                                <div class="col-xs-3">
                                    <input type="number" class="form-control" ng-model="date.year"
                                           placeholder="Year" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Pokemon ID</label>

                            <input type="number" class="form-control" ng-model="player.pokeId"
                                   placeholder="#######" required>
                        </div>

                        <div class="form-group">
                            <label>Email</label>

                            <input type="text" class="form-control" ng-model="player.email"
                                   placeholder="Name">
                        </div>

                        <div class="form-group">
                            <div data-ng-click="updatePlayer(player)" class="btn btn-primary">Update Player</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>