<div class="wrapper wrapper-content row animated fadeInRight" data-ng-init="init()">
    <div class="ibox float-e-margins">
        <div id="page-wrapper">
            <div class="row">
                <button class="btn btn-success pull-left"
                        style="margin-right: 5px;" data-ng-click="uploadXML()">Upload Players.xml</button>
            </div>

            <h1>Upload Player XML file</h1>

            <div>
                Select a players.xml file:
                <input type="file" id="fileInput">
            </div>

            <pre id="fileDisplayArea"><pre>
        </div>
    </div>
</div>
