node_modules/
Dockerfile*
docker-*
install-docker.sh
README.md
.git/
.gitignore
.idea/
npm-debug.log
CONTRIBUTING.MD
gruntfile.js
.travis.yml
.eslint
.envtemplate
.csslintrc
.bowerrc
manifest.yml
karma.conf.js
